 <div class="navbar navbar-default navbar-fixed-top">
 <div class="container">
 	<div class="navbar-header"><a routerLink="/dashboard" class="navbar-brand">Angular2</a></div>
 <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">            
            <li><a routerLink="/products" class="btn">Products</a></li>
            <li><a routerLink="/articles" class="btn">Articles</a></li>   
            <li><a routerLink="/characters" class="btn">Characters</a></li>
            <li><a routerLink="/user" class="btn">Users</a></li>  
            <li><a routerLink="/videos" class="btn">Videos</a></li> 
            <li><a routerLink="/movies" class="btn">Movies</a></li>      
          </ul>

          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul> -->

</div> 
</div> 
</div> 
<ul class="breadcrumb">
  <li class="active">{{title}}</li>
</ul>
<router-outlet></router-outlet> 